[alias]
    wc = whatchanged --stat
    st = status
    stat = status -sb
    br = branch -vv
    chekcout = checkout
    up = fetch --all -p
    d  = !read B RB <<<$(git branch -vv | ruby -ne 'puts $_.match(%r<\\* ([^\\s]+)\\s+\\w+\\s+\\[([^:\\]]+)>)[1,2] * \" \" rescue nil') && git wc ^$B $RB
    rd = !read B RB <<<$(git branch -vv | ruby -ne 'puts $_.match(%r<\\* ([^\\s]+)\\s+\\w+\\s+\\[([^:\\]]+)>)[1,2] * \" \" rescue nil') && git wc ^$RB $B
    m  = !read B RB <<<$(git branch -vv | ruby -ne 'puts $_.match(%r<\\* ([^\\s]+)\\s+\\w+\\s+\\[([^:\\]]+)>)[1,2] * \" \" rescue nil') && git merge $RB
    sub = submodule
    subup = !git submodule sync && git submodule update --init
    remotes = remote -v show
    rev = rev-parse HEAD
    cl = clone --recursive
    human = name-rev --name-only --refs=refs/heads/*
    humin = name-rev --name-only --refs=refs/heads/* --stdin
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    sb = show-branch
    wd = diff --word-diff
    dt = difftool -y
    cat = cat-file
    ll = log --oneline --graph
    ls = ls-files
[core]
    excludesfile = ~/.gitignore-global
    whitespace=trailing-space,cr-at-eol,space-before-tab,tab-in-indent
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    whitespace = red reverse
    frag = cyan
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = red
[apply]
    whitespace = nowarn
[push]
    default = tracking
[branch]
    autosetupmerge = true
[instaweb]
    local = true
    httpd = webrick
    port = 4321
[diff]
    tool = opendiff
    renamelimit = 500
[difftool]
    prompt = false
[merge]
    stat = true
    conflictstyle = diff3
    defaultToUpstream = true
    renamelimit = 2000
[rerere]
    enabled = 1
    autoupdate = 1
[status]
    submodulesummary = true
[gc]
    reflogExpire = 180 days
    reflogExpireUnreachable = 90 days
    pruneExpire = 3 months ago
[user]
    name = Jordan Ritter
    email = jpr5@darkridge.com
[github]
    user = jpr5
    token = 4225723a97dc811c978bde1c1c54a23d
